<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/site_admin">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

    <application
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor" >
        <activity
            android:name="by.carkva_gazeta.admin.AdminMain"
            android:label="@string/site_admin"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.NovyZapavietSemuxaList"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.StaryZapavietSemuxaList"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.StaryZapavietSemuxa"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/title_activity_stary_zapaviet2"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.StaryZapavietSemuxaList" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.NovyZapavietSemuxa"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/novy_zapaviet"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.NovyZapavietSemuxaList" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.Sviatyia"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/sviatyia"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.PasochnicaList"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/pasochnica"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.Pasochnica"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/pasochnica"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.PasochnicaList" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.Sviaty"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/sviaty"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.Chytanny"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/sviaty"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.Piarliny"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/piarliny"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.SviatyiaImage"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/sviatyia"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.Sviatyia" />
        </activity>
    </application>
</manifest>