<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_resources">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="by.carkva_gazeta.resources.Chytanne"
            android:label="@string/czytanne"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.resources.BibliaActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/perevody"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.resources.BibliaList" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.resources.MaranAta"
            android:label="@string/maranata"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.resources.Bogashlugbovya"
            android:label="@string/liturgikon"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.resources.MalitvyPrynagodnyia"
            android:label="@string/prynagodnyia"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.resources.SearchBiblia"
            android:label="@string/search"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.resources.PasliaPrychascia"
            android:label="@string/pasliaPrychscia"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MalitvyPasliaPrychascia" />
        </activity>
        <activity android:name="by.carkva_gazeta.resources.BibleZakladki"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity android:name="by.carkva_gazeta.resources.BibleNatatki"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.resources.PsalterNadsana"
            android:label="@string/title_psalter"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.resources.SlugbyVialikagaPostuSpis"
            android:label="@string/slugby_vialikaga_postu"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.resources.NadsanMalitvyIPesniList"
            android:label="@string/pesni"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.resources.SearchBogashlugbovya"
            android:label="@string/searche_bogasluz_text"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.resources.LogView"
            android:label="@string/log"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
    </application>
</manifest>

