<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="by.carkva_gazeta.biblijateka">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_biblijateka">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="by.carkva_gazeta.biblijateka.BibliotekaView"
            android:label="Бібліятэка Царквы"
            android:theme="@style/AppTheme">
        </activity>
    </application>
</manifest>

