<style>
	.programday .dayhdr {
		padding: 0.9em 0 0.0em 0;
		font-weight: bold;
	}
	.programday ul {
		list-style-type: none;
		padding-bottom: 0.9em;
		padding-left: 10px;
	}
	.programday li {
		clear: both;
		line-height: 1.2em;
		padding-top: 0.4em;
	}
	.programday li .pstarttime {
		display: block;
		float: left;
		width: 60px;
	}

	.programday li .ptitle {
		display: block;
		float: left;
		width: auto;
	}

	.programday li .pdescr {
		display: block;
		clear: both;
		font-style: italic;
		padding-left: 60px;
		padding-top: 0.2em;
		padding-bottom: 0.4em;
		font-family: Times New Roman, Georgia, sans-serif;
	}
</style>