<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Malitounik"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_descriptor"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="Малітоўнік"
        android:networkSecurityConfig="@xml/network_security_config"
        android:restoreAnyVersion="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:targetSandboxVersion="2"
        tools:ignore="UnusedAttribute"
        tools:targetApi="m">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <!--
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounikApp.bogashlugbovya" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="by.carkva_gazeta.malitounikApp" android:scheme="file" />
                <data android:pathPattern=".*\\.fb2\\.zip"/>
                <data android:pathPattern=".*\\.fb2"/>
                <data android:pathPattern=".*\\.epub"/>
                <data android:pathPattern=".*\\.zip"/>
                <data android:pathPattern=".*\\.txt"/>
                <data android:pathPattern=".*\\.html"/>
                <data android:pathPattern=".*\\.xhtml"/>
                <data android:pathPattern=".*\\.htm"/>
                <data android:pathPattern=".*\\.chm"/>
                <data android:pathPattern=".*\\.pdb"/>
                <data android:pathPattern=".*\\.doc"/>
                <data android:pathPattern=".*\\.prc"/>
                <data android:pathPattern=".*\\.pml"/>
                <data android:pathPattern=".*\\.mobi"/>
                <data android:pathPattern=".*\\.azw"/>
                <data android:pathPattern=".*\\.tcr"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/epub+zip" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/fb2" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.fb2.zip" />
                <data android:mimeType="application/zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/html" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Onas"
            android:label="@string/pra_nas"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".CaliandarMun"
            android:label="@string/kaliandar"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pasxa"
            android:label="@string/pascha_kaliandar_bel"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".Sabytie"
            android:label="@string/sabytie"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/help"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/tools_item"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <!--<activity
            android:name=".Naviny"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>-->
        <activity
            android:name=".SearchSviatyia"
            android:label="@string/search_svityia"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".MalitvyPasliaPrychascia"
            android:label="@string/pasliaPrychscia"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".TonNiadzelny"
            android:label="@string/ton_n"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".TonNaKoznyDzen"
            android:label="@string/ton_sh"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".WidgetConfig"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".PesnyAll"
            android:label="@string/song"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".MineiaAgulnaia"
            android:label="@string/viachernia"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.SubMenuBogashlugbovyaViachernia" />
        </activity>
        <activity
            android:name=".SubMenuBogashlugbovyaViachernia"
            android:label="@string/viachernia"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".SubMenuBogashlugbovyaVialikiPost"
            android:label="@string/slugby_vialikaga_postu"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".BogashlugbovyaTryjodz"
            android:label="@string/tryjodz"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.BogashlugbovyaTryjodzList" />
        </activity>
        <activity
            android:name=".BogashlugbovyaTryjodzList"
            android:label="@string/tryjodz"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".Opisanie"
            android:label="@string/zmiest"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".MineiaMesiachnaia"
            android:label="@string/mineia_shtodzennaia"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".Aktoix"
            android:label="@string/aktoix"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.SubMenuBogashlugbovyaViachernia" />
        </activity>
        <activity
            android:name=".WidgetRadyjoMaryiaProgram"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Cytaty"
            android:label="@string/cytaty_z_biblii"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name=".PiarlinyAll"
            android:label="@string/piarliny"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.Opisanie" />
        </activity>
        <activity
            android:name=".Gallery"
            android:label="@string/gallery"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.Opisanie" />
        </activity>
        <activity
            android:name=".Trebnik"
            android:label="@string/trebnik"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAInlVmnTmpjY-SZQXQdB2RUIqzm6pXcrryjHH1FQ" />

        <service android:name=".ServiceRadyjoMaryia" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="by.carkva_gazeta.malitounik.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <receiver
            android:name=".ReceiverBroad"
            android:exported="false">
            <intent-filter>
                <action android:name="by.carkva_gazeta.malitounik.sviaty" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ReceiverBoot"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Widget"
            android:exported="false"
            android:label="@string/widget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata" />
        </receiver>
        <receiver
            android:name=".WidgetMun"
            android:exported="false"
            android:label="@string/widget_mun_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mun_metadata" />
        </receiver>
        <receiver
            android:name=".WidgetRadyjoMaryia"
            android:enabled="@bool/widgetRadyjoMaryia"
            android:exported="false"
            android:label="@string/padie_maryia_s">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_radyjo_maryia_metadata" />
        </receiver>
    </application>
</manifest>